@model IEnumerable<PlacesIndexVM>

@{
    ViewBag.Title = "Index page";
}

@foreach (var item in Model)
{
    <p><a asp-controller="Places" asp-action="Details" asp-route-id="@item.Id">@item.Name, @item.Country</a></p> 
}
